:root {
	--black: #000;
	--white: #fff;
}

$bp: 600px;

body {
	background: var(--black);
	color: var(--white);
	font-size: 16px;
	overscroll-behavior: none;
	overflow: auto;
}

.kitten {
	position: relative;

	.world {
		width: 100%;
		height: calc(100 * var(--vh));
		position: absolute;
		inset: 0;
		overflow-x: scroll;
		overflow-y: hidden;
		perspective: 800px;
		scroll-behavior: smooth;
		@media (min-width: $bp) {
			scroll-behavior: auto;
		}
		&.loaded .plane img {
			opacity: 1;
		}
		.plane {
			position: absolute;
			transform-style: preserve-3d;
			height: calc(100 * var(--vh));

			img {
				user-select: none;
				height: 100%;
				opacity: 0;
				transition: opacity 0.1s ease-in;
			}

			&.left,
			&.right {
				transform-origin: left bottom;
			}
		}

		.scene {
			position: absolute;
			transform-style: preserve-3d;
		}
	}

	&__dummytitles {
		visibility: hidden;
	}

	&__titles {
		color: var(--white);
		text-decoration: none;
		a {
			text-decoration: none;
			color: var(--white);
			&:hover {
				text-decoration: underline;
			}
		}
		position: fixed;
		bottom: 0;
		font-size: 21px;
		@media (min-width: $bp) {
			font-size: clamp(24px, -42px + 3.2vh + 2.1vw, 3.5rem);
		}
		padding: 10px 20px;
		text-transform: uppercase;
		font-weight: lighter;
	}

	&__news {
		position: fixed;
		bottom: 15px;
		right: 10px;
		width: 100px;
		z-index: 1;
	}

	&__tooltip {
		user-select: none;
		position: fixed;
		// mix-blend-mode: difference;
		z-index: 3;
		font-family: Arial, sans-serif;
		font-weight: lighter;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		font-size: 9px;
		white-space: nowrap;
		opacity: 1;
		&__buffer {
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 30px;
			height: 30px;
			pointer-events: none;
			stroke-dasharray: 0 100;
			svg {
				display: block;
				width: 100%;
				path {
					fill: none;
					stroke: #eee;
					stroke-width: 2;
					animation: dash .1s linear;
				}
			}
		}
	}

	&__overlay {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: calc(100 * var(--vh));
		inset: 0;
		pointer-events: none;
		mix-blend-mode: difference;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 77%, rgba(255, 255, 255, 0.75) 100%);
		@media (min-width: $bp) {
			background: linear-gradient(90deg, rgba(255, 255, 255, 0) 85.7%, #ffffff 100%);
		}
	}
}

// dat-gui
.dg.ac {
	/* 	display: none;
	@media (min-width: $bp) {
		display: block;
	} */
	z-index: 1 !important;
	position: fixed !important;
	bottom: 70px !important;
	right: 20px !important;
	left: initial !important;
	top: initial !important;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	word-wrap: normal;
}
