:root {
	--black: #000;
	--white: #fff;
}

body {
	background: var(--black);
	color: var(--white);
	font-size: 16px;
	overscroll-behavior: none;
}

.kitten {
	position: relative;

	.world {
		scroll-snap-type: x mandatory;

		.plane {
			scroll-snap-align: start;
		}
	}

	&__titles {
		position: fixed;
    bottom: 0;
    font-size: 24px;
    padding: 20px;
		text-transform: uppercase;
	}

	&__tooltip {
		font-family: Arial, sans-serif;
		font-weight: lighter;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 11px;
		mix-blend-mode: difference;
		position: fixed;
		z-index: 3;
		opacity: 1;
		transition: opacity 0.3s linear;
	}

	&__overlay {
		width: 75%;
		height: 100vh;
		z-index: 1;
		mix-blend-mode: difference;
		position: absolute;
		top: 0;
		right: 0;
		box-shadow: inset -300px 0 200px -180px #fff;
		pointer-events: none;
	}

	&__menu {
		position: fixed;
		z-index: 2;
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&_logo {
			position: relative;
			font-size: 56px;
			margin: 20px;
		}

		&_navigation {
			cursor: pointer;
			margin: 20px;

			&-icon {
				font-size: 30px;
			}

			nav {
				position: absolute;
				right: -100%;
				visibility: hidden;
			}
		}
	}
}

// dat-gui
.dg.ac {
	z-index: 1 !important;
	position: fixed !important;
	bottom: 70px !important;
	right: 20px !important;
	left: initial !important;
	top: initial !important;
}
