$bp: 768px;

.kitten__menu {
	position: fixed;
	z-index: 2;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	&_logo {
		position: relative;
		font-size: 56px;
		margin: 20px;
		z-index: 1;
		color: var(--white);
		text-decoration: none;
	}

	&_navigation {
		cursor: default;
		margin: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;

		&.active {
			.kitten__menu_navigation-nav {
				width: initial;
				height: initial;
				visibility: visible;
				opacity: 1;
				transition: opacity 0.3s linear, visibility 0.3s linear;
			}

			.kitten__menu_navigation-icon {
				color: var(--black);
				@media (min-width: $bp) {
					color: var(--white);
				}
			}
		}

		&-icon {
			cursor: pointer;
			z-index: 10;
			font-size: 30px;
		}

		&-element {
			&,
			& a {
				color: var(--black);
				@media (min-width: $bp) {
					color: var(--white);
				}
			}
			font-size: 24px;
		}

		&-nav {
			text-transform: uppercase;
			padding-right: 20px;
			visibility: hidden;
			opacity: 0;
			width: 0px;
			height: 0px;

			ol {
				display: flex;
				flex-direction: row;
			}

			li {
				padding: 0 20px;
				height: 24px;
				line-height: 1;
			}

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			// todo: mobile-first mq
			@media (max-width: $bp) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw !important;
				height: 100vh;
				height: calc(100 * var(--vh)) !important;
				background: var(--white);
				padding-right: 0;
				padding-top: 100px;
				text-align: right;
				box-shadow: inset 50px 0px 100px -38px var(--black);

				ol {
					flex-direction: column;

					li {
						height: auto;
						padding: 20px;
					}
				}
			}
		}
	}
}
