/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ #tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 200%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="prism"] .ft, [class*="prism"] .bk {
  width: 100%;
  height: 100%;
}
[class*="prism"] .bk {
  left: 100%;
}
[class*="prism"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="prism"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="prism"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="prism"] .lt {
  left: 100%;
}
[class*="prism"] .bm {
  top: 100%;
}
[class*="prism"] .rt .face {
  left: -100%;
  transform-origin: 100% 0;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
.ft{
  background-color: blue;
}
/* .pri-1 styles */
.pri-1 {
  transform:translate3D(6.5em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.pri-1 .ft {
  height:5.830951894845301em;
  transform:translateZ(-1.5em) rotateX(30.963756532073536deg);
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(2em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-1 .ft {
  transform:translateZ(1.5em);
}

.cub-1 .ft {
  width:4em;
  margin-left:0em;
}
/* .cub-2 styles */
.cub-2 {
  transform:translate3D(11em, -2em, -3em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-2 .ft {
  transform:translateZ(1.5em);
}
.cub-2 .ft {
  width:4em;
  margin-left:0em;
}
/* .pri-2 styles */
.pri-2 {
  transform:translate3D(15.5em, -2em, 0em) rotateX(-720deg) rotateY(0deg) rotateZ(270deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.pri-2 .ft {
  height:5.830951894845301em;
  transform:translateZ(-1.5em) rotateX(30.963756532073536deg);
}
/* .pri-3 styles */
.pri-3 {
  transform:translate3D(-2.5em, -2em, 0em) rotateX(-720deg) rotateY(0deg) rotateZ(270deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.pri-3 .ft {
  height:5.830951894845301em;
  transform:translateZ(-1.5em) rotateX(30.963756532073536deg);
}
/* .cub-3 styles */
.cub-3 {
  transform:translate3D(-7em, -2em, -3em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-3 .ft {
  transform:translateZ(1.5em);
}
/* .pri-4 styles */
.pri-4 {
  transform:translate3D(-11.5em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.pri-4 .ft {
  height:5.830951894845301em;
  transform:translateZ(-1.5em) rotateX(30.963756532073536deg);
}
/* .cub-4 styles */
.cub-4 {
  transform:translate3D(-16em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-4 .ft {
  transform:translateZ(1.5em);
}
.cub-4 .ft {
  width:4em;
  margin-left:0em;
}
/* .cub-5 styles */
.cub-5 {
  transform:translate3D(-20em, -2em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-5 .ft {
  transform:translateZ(1.5em);
}
.cub-5 .ft {
  width:4em;
  margin-left:0em;
}