.world {
	width: 100%;
	height: 100vh;
	position: absolute;
	inset: 0;

	overflow-x: scroll;
	perspective: 800px;
}

.scene,
.plane {
	position: absolute;
	transform-style: preserve-3d;
}

.plane {
	height: calc(100 * var(--vh));
}

.plane img {
	height: 100%;
}

.left,
.right {
	transform-origin: left bottom;
}
