.world {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;

  overflow-x: scroll;
  font-size: 100%; /* for ems */
  perspective: 800px;
}

.scene,
.plane {
  position: absolute;
  transform-style: preserve-3d;
}

.plane{
  height: calc(100 * var(--vh));
}

.plane > *{
  /* box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1); */
  height: 100%;
}

.left, 
.right{
  transform-origin: left bottom;
}